/* For AI Chat */

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply animate-pulse select-none bg-main/-quarter;
    }

    .skeleton-bg {
        @apply bg-main/-eighth;
    }

    .skeleton-div {
        @apply animate-pulse bg-main/-quarter;
    }
}

.ProseMirror {
    outline: none;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:bg-blue-500/half dark:text-blue-50 dark:hover:bg-blue-400/half;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
