# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables.

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.vercel

# Dependencies.

.pnp
.pnp.js
node_modules
packages

# Debug.

.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing.

*.test.ts
coverage

# Build.

.eslintcache
.husky/_
.next
.turbo
*.tsbuildinfo
build
dist
next-env.d.ts
out

# Miscellaneous.

.DS_Store
*.pem
.ignore