@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Source. */

        --white: 0 0% 100%;
        --off-white: 0 0% 93.75%;
        --way-off-white: 0 0% 87.5%;
        --gray: 0 0% 50%;
        --black: 0 0% 0%;
        --off-black: 0 0% 6.25%;
        --way-off-black: 0 0% 25%;

        --khaki: 45 25% 88%;
        --khaki-dark: 45 12.5% 25%;

        --ease-out-expo: cubic-bezier(0.125, 1, 0.25, 1);
        --ease-in-out-expo: cubic-bezier(0.875, 0, 0.125, 1);
        /* Normalization. */

        --main: var(--way-off-black);
        --main-upper-sixteenth: var(--main) / 93.75%;
        --main-upper-eighth: var(--main) / 87.5%;
        --main-upper-quarter: var(--main) / 75%;
        --main-half: var(--main) / 50%;
        --main-three-eighths: var(--main) / 37.5%;
        --main-quarter: var(--main) / 25%;
        --main-eighth: var(--main) / 12.5%;
        --main-sixteenth: var(--main) / 6.25%;

        --main-inverted: var(--white);
        --main-inverted-upper-sixteenth: var(--main-inverted) / 93.75%;
        --main-inverted-upper-eighth: var(--main-inverted) / 87.5%;
        --main-inverted-upper-quarter: var(--main-inverted) / 75%;
        --main-inverted-half: var(--main-inverted) / 50%;
        --main-inverted-three-eighths: var(--main-inverted) / 37.5%;
        --main-inverted-quarter: var(--main-inverted) / 25%;
        --main-inverted-eighth: var(--main-inverted) / 12.5%;
        --main-inverted-sixteenth: var(--main-inverted) / 6.25%;

        --main-neutral: var(--gray);
        --main-neutral-upper-sixteenth: var(--main-neutral) / 93.75%;
        --main-neutral-upper-eighth: var(--main-neutral) / 87.5%;
        --main-neutral-upper-quarter: var(--main-neutral) / 75%;
        --main-neutral-half: var(--main-neutral) / 50%;
        --main-neutral-three-eighths: var(--main-neutral) / 37.5%;
        --main-neutral-quarter: var(--main-neutral) / 25%;
        --main-neutral-eighth: var(--main-neutral) / 12.5%;
        --main-neutral-sixteenth: var(--main-neutral) / 6.25%;

        --accent: var(--khaki);
        --accent-upper-sixteenth: var(--accent) / 93.75%;
        --accent-upper-eighth: var(--accent) / 87.5%;
        --accent-upper-quarter: var(--accent) / 75%;
        --accent-half: var(--accent) / 50%;
        --accent-three-eighths: var(--accent) / 37.5%;
        --accent-quarter: var(--accent) / 25%;
        --accent-eighth: var(--accent) / 12.5%;
        --accent-sixteenth: var(--accent) / 6.25%;

        --accent-inverted: var(--khaki-dark);
        --accent-inverted-upper-sixteenth: var(--accent-inverted) / 93.75%;
        --accent-inverted-upper-eighth: var(--accent-inverted) / 87.5%;
        --accent-inverted-upper-quarter: var(--accent-inverted) / 75%;
        --accent-inverted-half: var(--accent-inverted) / 50%;
        --accent-inverted-three-eighths: var(--accent-inverted) / 37.5%;
        --accent-inverted-quarter: var(--accent-inverted) / 25%;
        --accent-inverted-eighth: var(--accent-inverted) / 12.5%;
        --accent-inverted-sixteenth: var(--accent-inverted) / 6.25%;

        /* Implementation. */

        --background: var(--inverse);
        --background-secondary: var(--off-white);

        --text: var(--main);
        --text-secondary: var(--off-black);
        --text-tertiary: var(--way-off-black);

        --border: var(--main-eighth);
        --border-width: 0.125rem;
        --border-radius: 0rem;

        /* --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%; */
    }
    .dark {
        --main: var(--white);
        --main-inverted: var(--off-black);
        --accent: var(--khaki-dark);
        --accent-inverted: var(--khaki);

        /* --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 0%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 100% / 12.5%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --input: 0 0% 100% / 12.5%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%; */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-text;
    }
}
